{{yield}}

<button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" {{action "request"}}>
  Request
</button>

<button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" {{action "push"}}>
  Send Push
</button>
